

<nav>
    <a routerLink="home"[routerLinkActive]="'is-active'">home</a>
    <a routerLink="about"[routerLinkActive]="'is-active'">about</a>
    <a routerLink="user"[routerLinkActive]="'is-active'">user</a>
    <a routerLink="product"[routerLinkActive]="'is-active'">product</a>
    <a routerLink="gallary"[routerLinkActive]="'is-active'">gallary</a>
    <a routerLink="contant"[routerLinkActive]="'is-active'">contant</a>
    <a routerLink="todo"[routerLinkActive]="'is-active'">todo</a>
   <span class="cart-icon"><app-cart></app-cart></span>
   
    
    
</nav>
<router-outlet></router-outlet>